<%- include("partials/header.ejs")%>
<body>
    
    <div class="home-page">
        <div class="homepage left-hand">
            <img style="height: 100px;" src="images/book2.png" alt="">
            <h1>Nikhil's Book <br/>Blog</h1>
            <div class="homepage book-image"></div>
        </div>
    
        <div class="homepage right-hand">
            <div class="link-holder">
               <button> <a href="#second-page">View Book Blog Entries</a></button>
                <form action="/createpost" method="GET">
                    <input type="submit" value="Create Blog Post">
                </form>
            </div>
        </div>
    </div>
    
    <div id="second-page" class="second-page">
        <div class="second title"><h1>View Existing Blogs</h1></div>
        <div class="second sort" style="display: flex; flex-direction: row; align-items: center; gap: 20px; justify-content: center;">
            <h3>I want to sort the book reviews by</h3>
            <form style="display:flex; flex-direction: row; height: 40px; justify-content: center; align-items: center; gap: 5px;" action="/sort" method="post">
            <select name="sortBy">
                <option value="rating">Rating</option>
                <option value="date">Date of Creation</option>
            </select>
            <h3>, in</h3>
            <select name="ascDesc">
                <option value="ASC">Ascending</option>
                <option value="DESC">Decending</option>
            </select>
            <h3>order: </h3>
            <input type="submit" placeholder="Sort">
            </form>
        </div>
        <div class="second blog-holder"> 
            <% entries.forEach((entry)=>{ %>
                <div class="blog-element" id= "<%=entry.id%>">
                    <div class="image" style="background-image: url('<%=entry.image%>')"></div>  
                    <div class="content">
                        <h3><strong><%=entry.title%></strong></h3>
                        <p><%=entry.body%></p>
                        <p><small>Rating : <%=entry.rating%> / 10</small> </p>
                        <p><small>Date Created: <%=entry.date%></small></p>
                        <p>ISBN: <%=entry.isbn%></p>

                    </div>
                    <form action="/delete" method="post">
                        <button class="delete" onclick="this.form.submit()" name="deleteItemId" value="<%= entry.id %>">
                      </form>
                      <form action="/update" method="post">
                        <button class="delete" style="background-color:aqua;"onclick="this.form.submit()" name="updateItemId" value="<%= entry.id %>">
                      </form>
                </div>           
            <% }); %>

        </div>
    </div>
    <%- include("partials/footer.ejs")%>

    </body>
    </html>
    